header{
    display: flex;
    flex-direction: row;
}
.sidebar{
    /* position: fixed; */
    max-height: 100%;
    width: 240px;
    background-image: linear-gradient(to bottom, #d25e5e, #1ec01e);
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 60px;
}
.sidebar .logo-details{
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}   
.sidebar .logo-details a{
    text-decoration: none;
}
.sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}
.sidebar .nav-links{
    margin-top: 10px;
    padding-left: 0;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    height: 50px;
}
.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
    background-color: #081D45;    
}
.sidebar .nav-links li a:hover{
    background: #081D45;
}
.sidebar .nav-links li i{
    min-width: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.sidebar .nav-links li a .links_name{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}
.home-section{
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}
.home-section nav{
    height: 80px;
    background: #F8F8FF;
    display: flex;
    align-items: center;
    width: 100%;
    left: 240px;
    z-index: 1;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    margin: 0;
}
.home-section nav .sidebar-button{
    font-size: 24px;
    font-weight: 500;
}
.home-section form{
    position: absolute;
    top: 45%;
    left: 40%;
}
.banner_top__right-year{
    height: 48px;
}
.banner_top__center h3{
    font-weight: 450;
}
.nav__page-item{
    font-weight: 350;
}
.navbar_seach-input{
    font-size: 14px;
}
.nav_cart-heading{
    font-size: 16px;
    font-weight: 500;
}
.banner_top__right-year h4{
    padding: 0 20px 0 10px;
}
.nav__acounted h4{
    font-size: 1rem;
    font-weight: 400;
}
.nav__acounted a{
    color: black;
    font-weight: 300;
}

