header{
    display: flex;
    flex-direction: row;
}
.sidebar{
    position: relative;
    max-height: 100%;
    width: 240px;
    background-color: #f5f5f5;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 60px;
}
.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}   
.sidebar .logo-details a{
    text-decoration: none;
    margin-top: 40px;
}

.sidebar .logo-details  p {
    margin-top: 20px;
    margin-left: 42px;
}
.sidebar .logo-details .logo_name{
    margin-left: 42px;
    color: #333;
    font-size: 21px;
    font-weight: 500;
}

.sidebar .logo-details .logo_name i {
    margin-right: 10px;
}
.sidebar .nav-links{
    margin-top: 40px;
    padding-left: 0;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    height: 90px;
    width: 240px;

}
.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
    background-color: #b3b2b2;    
}
.sidebar .nav-links li a:hover{
    background: #b3b2b2;
}
.sidebar .nav-links li i{
    min-width: 40px;
    font-size: 18px;
    color: #333;
    margin-right: -10px;
}
.sidebar .nav-links li a .links_name{
    color: #333;
    font-size: 18px;
    font-weight: 500;
}
.sidebar .nav-links li a i {
    margin-left: 42px;
}
.home-section{
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}
.home-section nav{
    height: 80px;
    background: #F8F8FF;
    display: flex;
    align-items: center;
    width: 100%;
    left: 240px;
    z-index: 1;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    margin: 0;
}
.home-section nav .sidebar-button{
    font-size: 24px;
    font-weight: 500;
}
.home-section form{
    position: absolute;
    top: 45%;
    left: 40%;
}
.banner_top__right-year{
    height: 48px;
}
.banner_top__center h3{
    font-weight: 450;
}
.nav__page-item{
    font-weight: 350;
}
.navbar_seach-input{
    font-size: 14px;
}
.nav_cart-heading{
    font-size: 16px;
    font-weight: 500;
}

.nav__acount .btn_login {
    margin-left: -10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

